<!doctype html>
<html lang="en" class="h-100">
<head th:replace="fragments/header :: header" />
  <body class="d-flex h-100 text-center text-white bg-dark" onbeforeunload="closePage()">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1 id="h1">안녕하세요!</h1>
    <p class="lead" th:text="${memberName}+' 님 반갑습니다'"></p>
    <p class="lead">
      <a href="#" th:onclick="|location.href='@{/member/{memberId}/my-page(memberId=${memberId})}'|" class="btn btn-lg btn-secondary fw-bold border-white bg-white">내 정보 보기</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a onclick="closePage()" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>


    
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
  let num = 1;
  console.log("test start", num);
  let passwordClassList = document.querySelector('#h1');
  // $(window).on('mouseover', (function () {
  //   window.onbeforeunload=closePage;
  //   console.log("새로고침");
  //   alert('새로고침');  // 새로고침
  // }));
  // $(window).on('mouseout', (function () {
  //
  //   console.log("닫기");
  //   alert('닫기');  // 새로고침
  // }));
  function closePage(){
    console.log("hi");
    num = 2
    console.log("closing start", num);
    passwordClassList.innerHTML = "Processing.........";
    if(self.screenTop > 9000)
    {
      // $.ajax({
      //   type: "POST",
      //   url: '/logout',
      //   statusCode: {
      //     200: function () {
      //       //location.replace("http://localhost:8081/");
      //     },
      //     500: function () {
      //       alert("잠시 후 다시 시도해주세요.");
      //     }
      //   }
      // });
    }
    else
    {
      if(document.readyState == "complete")
      {
          /*
          console.log("새로고침");
          alert('새로고침');  // 새로고침
          $.ajax({
            type: "POST",
            url: '/auth/logout',
            statusCode: {
              200: function () {
                //location.replace("http://localhost:8081/");
              },
              500: function () {
                alert("잠시 후 다시 시도해주세요.");
              }
            }
          });

           */
      }
      else if(document.readyState == "loading")
      {
        alert('이동');  // 다른 사이트로 이동
      }
    }


  }
</script>


