<!doctype html>
<html lang="en" class="h-100">
<head th:replace="fragments/header :: header" />
<body class="d-flex h-100 text-center text-white bg-dark" onbeforeunload="closePage()">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />

  <main class="px-3">
    <h1 id="h1">안녕하세요!</h1>
    <p class="lead" th:text="${memberName}+' 님 반갑습니다'"></p>
    <p class="lead">
      <a href="#" th:onclick="|location.href='@{/member/{memberId}/my-page(memberId=${memberId})}'|"
         class="btn btn-lg btn-secondary fw-bold border-white bg-white">내 정보 보기</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a onclick="closePage()" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>


    
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
/*
  window.addEventListener('beforeunload', (event) => {
    // 명세에 따라 preventDefault는 호출해야하며, 기본 동작을 방지합니다.
    event.preventDefault();

    console.log("새로고침");
    alert('새로고침');  // 새로고침
    $.ajax({
      type: "POST",
      url: '/auth/logout',
      statusCode: {
        200: function () {
          //location.replace("http://localhost:8081/");
        },
        500: function () {
          alert("잠시 후 다시 시도해주세요.");
        }
      }
    });

    // 대표적으로 Chrome에서는 returnValue 설정이 필요합니다.
    event.returnValue = '';
  });

 */
</script>


